.joinnow
{
    background-color: whitesmoke;
    padding:140px 100px;
}

.login
{
    background-color: white;
    padding: 20px 30px;
}

@media screen and (max-width: 600px)
{
    .joinnow
    {
        padding: 140px 30px;
    }
}